<!DOCTYPE html>
<html lang="en" ng-app="displayApp">
<head>
    <meta charset="utf-8">
    <title>Leapraxia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/style/bootstrap.css" media="screen">
    <link rel="stylesheet" href="assets/style/bootswatch.min.css">
    <link rel="stylesheet" href="assets/style/main.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="displayCtrl">

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand leap-interactive">Leapraxia</a>
                <button class="navbar-toggle leap-interactive" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="display.html">Display gestures</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm-6">
                <p>Gesture 1</p>
                <select class="form-control" ng-model="gesture1" ng-change="display1()"
                        ng-options="g.nice_name for g in gestures" id="gesture1"></select>
                <img ng-src="assets/img/{{gesture1.short_name}}_snapshot.png">
                <p id="video1display"></p>
            </div>

            <div class="col-sm-6">
                <p>Gesture 2</p>
                <select class="form-control" ng-model="gesture2" ng-change="display2()"
                        ng-options="g.nice_name for g in gestures" id="gesture2"></select>
                <img ng-src="assets/img/{{gesture2.short_name}}_snapshot.png">
                <p id="video2display"></p>
            </div>
        </div>

    </div>

</div>

    <script src="assets/js/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootswatch.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/controllers.js"></script>
</body>
</html>