<!DOCTYPE html>
<html lang="en" ng-app="displayApp">
<head>
    <meta charset="utf-8">
    <title>Leapraxia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://wilkesalex.github.io/leapstrap/dist/css/leapstrap.css" />
    <link rel="stylesheet" href="assets/style/bootstrap.css" media="screen">
    <link rel="stylesheet" href="assets/style/bootswatch.min.css">
    <link rel="stylesheet" type="text/css" href="assets/style/main.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="displayCtrl">

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand leap-interactive">Leapraxia</a>
                <button class="navbar-toggle leap-interactive" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle leap-interactive" data-toggle="dropdown" href="#" id="themes">Gestures <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li ng-repeat="gesture in gestures">
                                <a ng-href="gestures/collect.html?gesture={{gesture.short_name}}">{{gesture.nice_name}}</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="display.html">Display gestures</a></li>
                    <li><a href="https://www.leapmotion.com/" target="_blank">Get Leap</a><li/>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://www.cs.ox.ac.uk/" target="_blank">Department of Computer Science</a></li>
                    <li><a href="http://www.psy.ox.ac.uk/" target="_blank">Department of Experimental Psychology</a></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <p>Gesture 1</p>
                <select class="form-control" ng-model="gesture1" ng-change="display1()"
                        ng-options="g.nice_name for g in gestures" id="gesture1"></select>
                <br>
                <p id="gesture1display"></p>
            </div>

            <div class="col-lg-6">
                <p>Gesture 2</p>
                <select class="form-control" ng-model="gesture2" ng-change="display2()"
                        ng-options="g.nice_name for g in gestures" id="gesture2"></select>
                <br>
                <p id="gesture2display"></p>
            </div>
        </div>

        <footer>
            <div class="row">
                <div class="col-lg-12">

                    <ul class="list-unstyled">
                        <li class="pull-right"><a href="#top">Back to top</a></li>
                    </ul>
                </div>
            </div>

        </footer>
    </div>

</div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootswatch.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="assets/js/controllers.js"></script>
</body>
</html>