<!DOCTYPE html>
<html lang="en" ng-app="indexApp">
  <head>
    <meta charset="utf-8">
    <title>Leapraxia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://wilkesalex.github.io/leapstrap/dist/css/leapstrap.css" />
    <link rel="stylesheet" href="assets/style/bootstrap.css" media="screen">
    <link rel="stylesheet" href="assets/style/bootswatch.min.css">
    <link rel="stylesheet" type="text/css" href="assets/style/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="assets/js/controllers.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="leap-interactive" leap-disable-tap="true" leap-disable-hover="true" ng-controller="indexCtrl">

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand leap-interactive">Leapraxia</a>
          <button class="navbar-toggle leap-interactive" type="button" data-toggle="gestures/collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle leap-interactive" data-toggle="dropdown" href="#" id="themes">Gestures <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                  <li ng-repeat="gesture in gestures">
                      <a class="leap-interactive" ng-href="gestures/collect.html?gesture={{gesture.short_name}}">{{gesture.nice_name}}</a>
                  </li>
              </ul>
            </li>
            <li><a class="leap-interactive" href="https://www.leapmotion.com/" target="_blank">Get Leap</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a class="leap-interactive" href="http://www.cs.ox.ac.uk/" target="_blank">Department of Computer Science</a></li>
            <li><a class="leap-interactive" href="http://www.psy.ox.ac.uk/" target="_blank">Department of Experimental Psychology</a></li>
          </ul>

        </div>
      </div>
    </div>


    <div class="container">

      <div class="bs-docs-section">
        <div class="row">
            <form class="form-inline" role="form">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="control-label" for="gesture1">Gesture 1</label>
                        <select class="form-control" ng-model="gesture1"
                                ng-options="g.nice_name for g in gestures" id="gesture1"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="gesture2">Gesture 2</label>
                        <select class="form-control" ng-model="gesture2"
                                ng-options="g.nice_name for g in gestures" id="gesture2"></select>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Input gestures</button>
                </div>
            </form>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h3>Gesture 1L</h3>
            <p>
                <video controls poster="assets/img/gesture1L_snapshot.png">
                    <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture1_videoL.MP4?raw=true"
                            type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                </video>
            </p>
            <a href="gestures/collect.html?gesture=gesture1L" class="btn btn-primary leap-interactive">Input gesture</a>
          </div>
            <div class="col-md-3">
                <h3>Gesture 1R</h3>
                <p>
                    <video controls poster="assets/img/gesture1R_snapshot.png">
                        <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture1_videoR.MP4?raw=true"
                                type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                </p>
                <a href="gestures/collect.html?gesture=gesture1R" class="btn btn-primary leap-interactive">Input gesture</a>
            </div>
          <div class="col-md-3">
            <h3>Gesture 2L</h3>
            <p>
                <video controls poster="assets/img/gesture2L_snapshot.png">
                    <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture2_VideoL.MP4?raw=true"
                            type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                </video>
            </p>
            <a href="gestures/collect.html?gesture=gesture2L" class="btn btn-primary leap-interactive">Input gesture</a>
          </div>
            <div class="col-md-3">
                <h3>Gesture 2R</h3>
                <p>
                    <video controls poster="assets/img/gesture2R_snapshot.png">
                        <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture2_VideoR.MP4?raw=true"
                                type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                </p>
                <a href="gestures/collect.html?gesture=gesture2R" class="btn btn-primary leap-interactive">Input gesture</a>
            </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <h3>Gesture 3L</h3>
            <p>
                <video controls poster="assets/img/gesture3L_snapshot.png">
                    <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture3_VideoL.mp4?raw=true"
                            type='video/mp4;codecs="avc1, mp4a"' />
                </video>
            </p>
            <a href="gestures/collect.html?gesture=gesture3L" class="btn btn-primary leap-interactive">Input gesture</a>
          </div>
            <div class="col-md-3">
                <h3>Gesture 3R</h3>
                <p>
                    <video controls poster="assets/img/gesture3R_snapshot.png">
                        <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture3_VideoR.MP4?raw=true"
                                type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                </p>
                <a href="gestures/collect.html?gesture=gesture3R" class="btn btn-primary leap-interactive">Input gesture</a>
            </div>
          <div class="col-md-3">
            <h3>Gesture 4L</h3>
            <p>
                <video controls poster="assets/img/gesture4L_snapshot.png">
                    <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture4_VideoL.MP4?raw=true"
                            type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                </video>
            </p>
            <a href="gestures/collect.html?gesture=gesture4L" class="btn btn-primary leap-interactive">Input gesture</a>
          </div>
            <div class="col-md-3">
                <h3>Gesture 4R</h3>
                <p>
                    <video controls poster="assets/img/gesture4R_snapshot.png">
                        <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture4_VideoR.MP4?raw=true"
                                type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                </p>
                <a href="gestures/collect.html?gesture=gesture4R" class="btn btn-primary leap-interactive">Input gesture</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
              <h3>Gesture 5L</h3>
              <p>
                  <video controls poster="assets/img/gesture5L_snapshot.png">
                      <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture5_VideoL.MP4?raw=true"
                              type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                  </video>
              </p>
              <a href="gestures/collect.html?gesture=gesture5L" class="btn btn-primary leap-interactive">Input gesture</a>
            </div>
            <div class="col-md-3">
                <h3>Gesture 5R</h3>
                <p>
                    <video controls poster="assets/img/gesture5R_snapshot.png">
                        <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture5_VideoR.MP4?raw=true"
                                type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                </p>
                <a href="gestures/collect.html?gesture=gesture5R" class="btn btn-primary leap-interactive">Input gesture</a>
            </div>
            <div class="col-md-3">
                <h3>Gesture 6L</h3>
                <p>
                    <video controls poster="assets/img/gesture6L_snapshot.png">
                        <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture6_VideoL.MP4?raw=true"
                                type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                </p>
                <a href="gestures/collect.html?gesture=gesture6L" class="btn btn-primary leap-interactive">Input gesture</a>
            </div>
            <div class="col-md-3">
                <h3>Gesture 6R</h3>
                <p>
                    <video controls poster="assets/img/gesture6R_snapshot.png">
                        <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture6_VideoR.MP4?raw=true"
                                type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                </p>
                <a href="gestures/collect.html?gesture=gesture6R" class="btn btn-primary leap-interactive">Input gesture</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3>Gesture 7L</h3>
                <p>
                    <video controls poster="assets/img/gesture7L_snapshot.png">
                        <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture7_VideoL.MP4?raw=true"
                                type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                </p>
                <a href="gestures/collect.html?gesture=gesture7L" class="btn btn-primary leap-interactive">Input gesture</a>
            </div>
            <div class="col-md-3">
                <h3>Gesture 7R</h3>
                <p>
                    <video controls poster="assets/img/gesture7R_snapshot.png">
                        <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture7_VideoR.MP4?raw=true"
                                type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                </p>
                <a href="gestures/collect.html?gesture=gesture7R" class="btn btn-primary leap-interactive">Input gesture</a>
            </div>
            <div class="col-md-3">
                <h3>Gesture 8L</h3>
                <p>
                    <video controls poster="assets/img/gesture8L_snapshot.png">
                        <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture8_VideoL.MP4?raw=true"
                                type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                </p>
                <a href="gestures/collect.html?gesture=gesture8L" class="btn btn-primary leap-interactive">Input gesture</a>
            </div>
            <div class="col-md-3">
                <h3>Gesture 8R</h3>
                <p>
                    <video controls poster="assets/img/gesture8R_snapshot.png">
                        <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture8_VideoR.MP4?raw=true"
                                type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                </p>
                <a href="gestures/collect.html?gesture=gesture8R" class="btn btn-primary leap-interactive">Input gesture</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3>Gesture 9L</h3>
                <p>
                    <video controls poster="assets/img/gesture9L_snapshot.png">
                        <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture9_VideoL.MP4?raw=true"
                                type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                </p>
                <a href="gestures/collect.html?gesture=gesture9L" class="btn btn-primary leap-interactive">Input gesture</a>
            </div>
            <div class="col-md-3">
                <h3>Gesture 9R</h3>
                <p>
                    <video controls poster="assets/img/gesture9R_snapshot.png">
                        <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture9_VideoR.MP4?raw=true"
                                type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                </p>
                <a href="gestures/collect.html?gesture=gesture9R" class="btn btn-primary leap-interactive">Input gesture</a>
            </div>
            <div class="col-md-3">
                <h3>Gesture 10L</h3>
                <p>
                    <video controls poster="assets/img/gesture10L_snapshot.png">
                        <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture10_VideoL.MP4?raw=true"
                                type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                </p>
                <a href="gestures/collect.html?gesture=gesture10L" class="btn btn-primary leap-interactive">Input gesture</a>
            </div>
            <div class="col-md-3">
                <h3>Gesture 10R</h3>
                <p>
                    <video controls poster="assets/img/gesture10R_snapshot.png">
                        <source src="https://github.com/radoi90/Leap-data-collection/blob/master/assets/video/Gesture10_videoR.MP4?raw=true"
                                type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                </p>
                <a href="gestures/collect.html?gesture=gesture10R" class="btn btn-primary leap-interactive">Input gesture</a>
            </div>
        </div>


      <footer>
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right leap-interactive"><a href="#top">Back to top</a></li>
            </ul>
          </div>
        </div>

      </footer>


    </div>
    </div>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootswatch.js"></script>
    <script>
        var aspect_ration = 16/9;
        var w = document.getElementsByClassName("col-md-3")[0].firstElementChild.scrollWidth;
        var h = w / aspect_ration;

        var videos = document.getElementsByTagName("video");
        for (var i = 0; i < videos.length; i++)
            videos[i].setAttribute("style", "width:"+ w +"px;height:" + h+"px;");
    </script>
  </body>
</html>